@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
}

body {
  background: #f3f5f9;
}

h2 {
  margin: 1rem 0 0.8rem;
}

/* sidebar nav */
.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #7a9d54;
  padding: 30px 0;
}

.wrapper .sidebar .sidebar-title {
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
  line-height: 30px;
}

.wrapper .sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(225, 225, 225, 0.05);
}

.wrapper .sidebar ul li:hover {
  background: #557a46;
}

.wrapper .sidebar ul li a {
  color: white;
  display: block;
}

.wrapper .main-content {
  width: 100%;
  margin-left: 14rem;
  margin-right: 20rem;
}

/* .wrapper .main-content .header {
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
} */

.wrapper .main-content .info {
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main-content .info div {
  margin-bottom: 20px;
}

h3 {
  margin-top: 50px;
  font-size: 1.5rem;
}

.leaf-logo {
  height: 100px;
  width: 100px;
  display: block;
  margin: auto;
}

/* docs page */

.docs-title {
  font-size: 1.6rem;
  margin-top: 6rem;
}

span {
  display: block;
}

.code {
  background-color: lightgray;
  padding: 0.5rem 1rem;
  width: min-content;
  border-radius: 6px;
  overflow-x: auto;
}

pre {
  background-color: lightgray;
  overflow-x: auto;
  padding: 1rem 2rem;
  border-radius: 6px;
}

/* #googleMapsLocationImage {
  display: flex;
} */

.space-name {
  margin-left: 14rem;
}
